<!DOCTYPE html>
<html lang="zxx">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="">
  <meta name="author" content="codebook.in">

  <title>User Sign In</title>

  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="Bootstrap.css">

  <!-- Icon Font Css -->
  <link rel="stylesheet" href="icofont.min.css">

  <!-- Slick Slider  CSS -->
  <link rel="stylesheet" href="slick/slick.css">

  <link rel="stylesheet" href="slick-theme.css">

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="main.css">

  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body id="top">
 
<header>
	
	<nav class="navbar navbar-expand-lg navigation" id="navbar">
		<div class="container">
			<a class="navbar-brand" href="{% url 'home' %}">
			  	<img src="" alt="" class="img-fluid">
			  </a>

		  	<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarmain" aria-controls="navbarmain" aria-expanded="false" aria-label="Toggle navigation">
			<span class="icofont-navigation-menu"></span>
		  </button>
	  
		  <div class="collapse navbar-collapse" id="navbarmain">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"><a class="nav-link" href="main.html">Home</a></li>
			 	<li class="nav-item active"><a class="nav-link" href="login.html">User</a></li>
			 	<li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
				<li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
			</ul>
		  </div>
		</div>
	</nav>
</header>
	
<!-- user login start -->
 <div class="container-fluid bg-gray">
  <div class="row h-100 align-items-center justify-content-center p-2" >
      <div class="col-xl-5">
		<img src="images/chatbots-for-website.Gif" alt="" class="regimg" style="background: transparent;">
      </div>
    
    <div class=" col-sm-8 col-md-6 col-lg-5 col-xl-4">
      <div class="card bg-light rounded p-3 p-sm-5 my-2 mx-3">
        <div class="d-flex align-items-center justify-content-center mb-3">
                <h3 class="text-primary">Sign In</h3>
            
        </div>
        <div class="form">  
            <form method="POST" enctype="multipart/form-data" name="myform" onsubmit="return validateLForm()"> {% csrf_token %}
            <div class="form-floating mb-3">      
                <label for="floatingInput" >Email address</label>                 
                <input type="text" class="form-control" id="floatingInput" name="email" placeholder="name@example.com" autofocus>
            </div>

            <div class="form-floating mb-3">
                <label for="floatingPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="floatingPassword" name="pwd" placeholder="Password">
            </div>

            <div class="d-flex align-items-center justify-content-center mb-4">
            <a href="">Forgot Password?</a>
            </div>

            <button type="submit" class="btn btn-main btn-round-full py-3 w-100 mb-4">Sign In</button>
            <p class="text-center mb-0">Don't have an account?</p>
        </form>
		<h5 class="text-center mb-0"><a href="register.html">Sign Up</a></h5>
    </div>
      </div>
  </div>
</div>
<!-- user login end -->




<!-- footer Start -->
<footer class="footer section gray-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 mr-auto col-sm-6">
				<div class="widget mb-4 mb-lg-0">
					<div class="logo mb-4">
						<img src="images/logo3.PNG" alt="" class="img-fluid">
					</div>
					<p>Social Media Accounts</p>

					<ul class="list-inline footer-socials mt-4">
						<li class="list-inline-item"><a href="https://www.facebook.com/tejalodagala480"><i class="icofont-facebook"></i></a></li>
						<li class="list-inline-item"><a href="https://twitter.com/tejalodagala480"><i class="icofont-twitter"></i></a></li>
						<li class="list-inline-item"><a href="https://www.linkedin.com/in/teja-lodagala-317686207"><i class="icofont-linkedin"></i></a></li>
					</ul>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="widget widget-contact mb-5 mb-lg-0">
					<h4 class="text-capitalize mb-3">Get in Touch</h4>
					<div class="divider mb-4"></div>

					<div class="footer-contact-block mb-3">
						<div class="icon d-flex align-items-center">
							<i class="icofont-email mr-3"></i>
							<span class="h6 mb-0">Support Available for 24/7</span>
						</div>
						<h4 class="mt-2"><a href="tel:+23-345-67890">tejalodagala480@gmail.com</a></h4>
					</div>

					<div class="footer-contact-block">
						<div class="icon d-flex align-items-center">
							<i class="icofont-support mr-3"></i>
							<span class="h6 mb-0">Mon to Fri : 08:30 - 18:00</span>
						</div>
						<h4 class="mt-2"><a href="tel:+23-345-67890">+91 9959353902</a></h4>
					</div>
				</div>
			</div>
		</div>
		
		<div class="footer-btm py-2 mt-3">
			<div class="row align-items-center justify-content-center">
				<div class="col-lg-auto">
					<div class="copyright">
						&copy; Copyright Reserved to <span class="text-color">Lodagala Teja</span>
					</div>
				</div>
				
			</div>

			<div class="row">
				<div class="col-lg-4">
					<a class="backtop js-scroll-trigger" href="#top">
						<i class="icofont-long-arrow-up"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>

   

    <!-- 
    Essential Scripts
    =====================================-->

    
    <!-- Main jQuery -->
	<script src="{% static "mainapp/plugins/jquery/jquery.js" %}"></script>
    <!-- Bootstrap 4.3.2 -->
    <script src="{% static "mainapp/plugins/bootstrap/js/popper.js" %}"></script>
    <script src="{% static "mainapp/plugins/bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{% static "mainapp/plugins/counterup/jquery.easing.js" %}"></script>
    <!-- Slick Slider -->
    <script src="{% static "mainapp/plugins/slick-carousel/slick/slick.min.js" %}"></script>
    <!-- Counterup -->
    <script src="{% static "mainapp/plugins/counterup/jquery.waypoints.min.js" %}"></script>
    
    <script src="{% static "mainapp/plugins/shuffle/shuffle.min.js" %}"></script>
    <script src="{% static "mainapp/plugins/counterup/jquery.counterup.min.js" %}"></script> 
    
    <script src="{% static "mainapp/js/script.js" %}"></script>
    <script src="{% static "mainapp/js/swal.js" %}"></script>
    <script src="{% static "mainapp/js/contact.js" %}"></script>

  </body>
  </html>
   
