{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="">
  <meta name="author" content="codebook.in">

  <title>My Profile</title>  

  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="{% static 'userapp/plugins/bootstrap/css/bootstrap.min.css' %}">
  <!-- Icon Font CSS -->
  <link rel="stylesheet" href="{% static 'userapp/plugins/icofont/icofont.min.css' %}">
  <!-- Slick Slider  CSS -->
  <link rel="stylesheet" href="{% static 'userapp/plugins/slick-carousel/slick/slick.css' %}">
  <link rel="stylesheet" href="{% static 'userapp/plugins/slick-carousel/slick/slick-theme.css' %}">

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="{% static 'userapp/css/style.css' %}">

  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>

<body id="top">
  {% if messages %}
  {% for message in messages %}
      {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
          <script>swal({
                  title: "Success!",
                  text: "{{message}}",
                  icon: "success",
                  button: "OK",
              });
          </script>
      
      {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
          <script>swal({
                  title: "Warning :)",
                  text: "{{message}}",
                  icon: "warning",
                  button: "OK",
              
              });
          </script>
      {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
          <script>swal({
                  title: "info :)",
                  text: "{{message}}",
                  icon: "info",
                  button: "OK",
              });
          </script>
      {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
          <script>swal({
                  title: "error :)",
                  text: "{{message}}",
                  icon: "error",
                  button: "OK",
              });
          </script>
      {% endif %}
  {% endfor %}
{% endif %}

<header>
	
	<nav class="navbar navbar-expand-lg navigation mb-2" id="navbar">
		<div class="container">
		 	 <a class="navbar-brand" href="">
        <img src="{% static 'userapp/images/resized.png' %}" alt="" class="img-fluid">
			  </a>

		  	<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarmain" aria-controls="navbarmain" aria-expanded="false" aria-label="Toggle navigation">
			<span class="icofont-navigation-menu"></span>
		  </button>
	  
		  <div class="collapse navbar-collapse" id="navbarmain">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link" href="{% url 'user_dash' %}">Dashboard</a></li>
          <li class="nav-item active"><a class="nav-link" href="{% url 'user_profile' %}">My Profile</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Logout</a></li>
        </ul>
		  </div>
		</div>
	</nav>
</header>
	



<!-- content start -->


<section class="page-title bg-2">
    <div class="overlay"></div>
    
    <div class="container">
        
      <div class="row">
        <div class="col-md-12">
          <div class="block text-center">
            <h1 class="text-capitalize mb-5 text-lg">My Profile</h1>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="my-4 py-3">
    <div class="container">
        <div class="row">
            <div class="col-4 box" >
                <div class="card text-center">
                  <form name="myform" method ="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                  <div class="mt-2">
                    <img src="/media/{{user.image}}" alt="Profile Picture" style="width:90%; border-radius:50%; max-width: 100%;
                    height: auto;">
                    
                  </div>
                  <hr>
                  <div class="col-12 d-flex my-2 gap-2 text-center">
                    <label for="image" class="form-label mt-3 text-muted"> Change Profile Picture</label>
                    <input type="file" name="img" class="form-control mt-3" accept="image/*" style="width: 60%; height:20%">
                  </div>
                
                  <hr>
                  <h4 class="my-1">{{user.name}}</h4>
                  <p>{{user.phone}}</p>
                </div>  
                
            </div>

            <div class="col box">
            <div class="card mb-3">
                <div class="card-body text-center">
                  
                     <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0 mt-2">Full Name</h6>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" name="name" value="{{user.name}}" placeholder="Name" style="border-color: #223a66; width:21em;">
                        </div>
                    </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0 mt-2">Email</h6>
                </div>
                <div class="col-sm-9">
                  <input type="email" name="email" value="{{user.email}}" placeholder="Email" style="border-color: #223a66; width:21em;"> 
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3 ">
                  <h6 class="mb-0 mt-2">Phone</h6>
                </div>
                <div class="col-sm-9">
                  <input type="tel" name ="phone" value="{{user.phone}}" placeholder="Phone Number" style="border-color: #223a66; width:21em;">
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0 mt-2">Address</h6>
                </div>
                <div class="col-sm-9">
                  <input type="text" name="address" value="{{user.address}}" style="border-color: #223a66; width:21em;">
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0 mt-2">Bio</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <textarea name="" id="" cols="40" rows="3" placeholder="Your bio" style="border-radius: 13px; border-color:#223a66"></textarea>
                </div>
              </div>
         
              <div class="row d-flex justify-content-center">
                <div class="col-sm-12">
                  <button type="submit" class="btn btn-main btn-round-full my-2">Save Changes</button>
                </div>
              </div>
            </form>
            </div>
          </div>
            </div>
        </div>
    </div>
</section>


<!-- content end -->





<!-- footer Start -->
<footer class="footer section gray-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 mr-auto col-sm-6">
				<div class="widget mb-4 mb-lg-0">
					<div class="logo mb-4">
						<img src="images/logo3.PNG" alt="" class="img-fluid">
					</div>
					<p>Social Media Accounts</p>

					<ul class="list-inline footer-socials mt-4">
						<li class="list-inline-item"><a href="https://www.facebook.com/tejalodagala480"><i class="icofont-facebook"></i></a></li>
						<li class="list-inline-item"><a href="https://twitter.com/tejalodagala480"><i class="icofont-twitter"></i></a></li>
						<li class="list-inline-item"><a href="https://www.linkedin.com/in/teja-lodagala-317686207"><i class="icofont-linkedin"></i></a></li>
					</ul>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="widget widget-contact mb-5 mb-lg-0">
					<h4 class="text-capitalize mb-3">Get in Touch</h4>
					<div class="divider mb-4"></div>

					<div class="footer-contact-block mb-3">
						<div class="icon d-flex align-items-center">
							<i class="icofont-email mr-3"></i>
							<span class="h6 mb-0">Support Available for 24/7</span>
						</div>
						<h4 class="mt-2"><a href="tel:+23-345-67890">tejalodagala480@gmail.com</a></h4>
					</div>

					<div class="footer-contact-block">
						<div class="icon d-flex align-items-center">
							<i class="icofont-support mr-3"></i>
							<span class="h6 mb-0">Mon to Fri : 08:30 - 18:00</span>
						</div>
						<h4 class="mt-2"><a href="tel:+23-345-67890">+91 9959353902</a></h4>
					</div>
				</div>
			</div>
		</div>
		
		<div class="footer-btm py-2 mt-3">
			<div class="row align-items-center justify-content-center">
				<div class="col-lg-auto">
					<div class="copyright">
						&copy; Copyright Reserved to <span class="text-color">Lodagala Teja</span>
					</div>
				</div>
				
			</div>

			<div class="row">
				<div class="col-lg-4">
					<a class="backtop js-scroll-trigger" href="#top">
						<i class="icofont-long-arrow-up"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>

        <!--  Scripts  -->
    
    <!-- Main jQuery -->
    <script src="{% static 'userapp/plugins/jquery/jquery.js' %}"></script>
    <!-- Bootstrap 4.3.2 -->
    <script src="{% static 'userapp/plugins/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'userapp/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'userapp/plugins/counterup/jquery.easing.js' %}"></script>
    <!-- Slick Slider -->
    <script src="{% static 'userapp/plugins/slick-carousel/slick/slick.min.js' %}"></script>
    <!-- Counterup -->
    <script src="{% static 'userapp/plugins/counterup/jquery.waypoints.min.js' %}"></script>
    
    <script src="{% static 'userapp/plugins/shuffle/shuffle.min.js' %}"></script>
    <script src="{% static 'userapp/plugins/counterup/jquery.counterup.min.js' %}"></script> 
    
    <script src="{% static 'userapp/js/script.js' %}"></script>
    <script src="{% static 'userapp/js/contact.js' %}"></script>

  </body>
  </html>
   